proxy_cache_path /var/cache/nginx/canvas levels=1:2 keys_zone=canvas:64m inactive=60m;

upstream canvas-apache {
{% if this_size == 'localhost' %}
	server 127.0.0.1:80;
{% else %}
{% for h in groups['application'] %}
{% if not (hostvars[h]['delayed_jobs']|default(false))|bool %}
	server {{ hostvars[h]['ansible_eth0']['ipv4']['address'] }}:80 max_fails=4 fail_timeout=16s;
{% endif %}
{% endfor %}
{% endif %}
}

server {
	listen 443 ssl;
	server_name {{ canvas.hostname }};

	ssl_certificate /etc/ssl/certs/canvas.pem;
	ssl_certificate_key /etc/ssl/private/canvas.key;
	ssl_session_cache shared:SSL:8m;
	ssl_session_timeout 8m;

	location / {
		proxy_cache canvas;
		proxy_cache_valid 301 404 1m;
		proxy_cache_valid any 15s;
		proxy_cache_min_uses 4;

		proxy_pass http://canvas-apache;
	}
}

server {
	listen 443 ssl;
	server_name {{ canvas.files_hostname }};

	ssl_certificate /etc/ssl/certs/canvas.pem;
	ssl_certificate_key /etc/ssl/private/canvas.key;
	ssl_session_cache shared:SSL:8m;
	ssl_session_timeout 8m;

	location / {
		proxy_cache canvas;
		proxy_cache_valid any 15m;
		proxy_cache_min_uses 4;

		proxy_pass http://canvas-apache;

		expires 900;
	}
}
