server {
	listen 80;
	listen 443 ssl spdy;
	server_name {{ canvas.hostname }};
	root /var/www/canvas-unavailable/;
	ssl_certificate /etc/ssl/certs/canvas.pem;
	ssl_certificate_key /etc/ssl/private/canvas.key;

	location / {
		return 503;
	}
}

{% if environments[this_environment].canvas.file_store == 'local' %}
server {
	listen 80;
	listen 443 ssl spdy;
	server_name {{ canvas.files_hostname }};
	root /var/www/canvas-unavailable/;
	ssl_certificate /etc/ssl/certs/canvas.pem;
	ssl_certificate_key /etc/ssl/private/canvas.key;

	location / {
		return 503;
	}
}
{% endif %}
