# Vagrant.
.vagrant

# Inventories.
ansible/.*

# Group variables.
ansible/group_vars/*
!ansible/group_vars/*.example

# Certificates.
ansible/roles/nginx/files/etc/ssl/certs/*
!ansible/roles/nginx/files/etc/ssl/certs/*.example
ansible/roles/nginx/files/etc/ssl/private/*
!ansible/roles/nginx/files/etc/ssl/private/*.example
