# Inventories.
src/ansible/.*

# Group variables.
src/ansible/group_vars/*
!src/ansible/group_vars/*.example

# Certificates.
src/ansible/roles/nginx/files/etc/ssl/certs/*
!src/ansible/roles/nginx/files/etc/ssl/certs/*.example
src/ansible/roles/nginx/files/etc/ssl/private/*
!src/ansible/roles/nginx/files/etc/ssl/private/*.example
