{% for k, v in environments.items() %}
{{ k }}:
  adapter: postgresql
  encoding: utf8
  database: canvas_{{ k }}
{% if this_size == 'localhost' %}
  host: 127.0.0.1
{% elif this_size == 'small' %}
  host: {{ hostvars[groups['database_standby_master'][0]]['ansible_eth0']['ipv4']['address'] }}
{% endif %}
  username: canvas
  password: {{ v.postgresql.password }}
  timeout: 8000
  queue:
    adapter: postgresql
    encoding: utf8
    database: canvas_queue_{{ k }}
{% if this_size == 'localhost' %}
    host: 127.0.0.1
{% elif this_size == 'small' %}
    host: {{ hostvars[groups['database_standby_master'][0]]['ansible_eth0']['ipv4']['address'] }}
{% endif %}
    username: canvas
    password: {{ v.postgresql.password }}
    timeout: 8000
{% endfor %}
