{% for k, v in environments.items() %}
  {{ k }}:
    adapter: postgresql
    encoding: utf8
    database: canvas_{{ k }}
    host: localhost # TODO: Detect and populate.
    username: {{ v.postgresql.username }}
    password: {{ v.postgresql.password }}
    timeout: 8000
    queue:
      adapter: postgresql
      encoding: utf8
      database: canvas_queue_{{ k }}
      host: # TODO: Detect and populate.
      username: {{ v.postgresql.username }}
      password: {{ v.postgresql.password }}
      timeout: 8000
{% endfor %}
