{% for k, v in environments.items() %}
{{ k }}:
  domain: {{ environments[this_environment].canvas.hostname }}
  files_domain: {{ environments[this_environment].canvas.files_hostname }}
  ssl: true
{% endfor %}
