---
# -----------------------------------------------------------------------------
# ###     Rename this file from `all.example` to `all` after updating.      ###
# -----------------------------------------------------------------------------

# -----------------------------------------------------------------------------
# Global system administrators, which are given full firewall access.
# -----------------------------------------------------------------------------

administrators:
  - name: System Administrator
    ipv4: 127.0.0.1

# -----------------------------------------------------------------------------
# Global canvas settings.
# -----------------------------------------------------------------------------

canvas:
  admin_email: admin@example.com
  admin_name: Organization Name
  admin_password: password
  files_hostname: files.canvas.example.com
  hostname: canvas.example.com
  version: release/2014-04-12.20

# -----------------------------------------------------------------------------
# Global map/dict/hash of environments. Values are `production`, `test`, and
# `development`.
# -----------------------------------------------------------------------------

environments:
  production:

    # Environment specific canvas settings.
    canvas:
      # A high entropy random string of at least 32 characters is strongly
      # recommended.
      encryption_key: 1234567890abcdefghijklmnopqrstuvwxyz
      # Values are `local` or `s3`.
      file_store: local

    # Environment specific email settings.
    email:
      user:
        address: example@example.com
        name: Example Example
        username: username
        password: password
      server:
        authentication: plain
        hostname: smtp.example.com
        domain_name: example.com
        port: 25

    # Environment specific postgresql settings, many settings are decided for
    # you (e.g. username is canvas).
    postgresql:
      password: password

    # Environment specific redis settings, many settings are decided for you
    # (e.g. username is canvas).
    redis:
      password: password

    # Environment specific s3 settings. Only needed if the canvas
    # storage_type above is set to s3.
    s3:
      access_key_id: access_key
      bucket_name: production-bucket
      endpoint: s3.amazonaws.com
      secret_access_key: secret_key
