---

administrators:
  - name: System Administrator
    ipv4: 127.0.0.1
canvas:
  hostname: canvas.example.com
  version: release/2014-04-12.20
environments:
  production:
    canvas:
      # A high entropy random string of at least 32 characters is strongly recommended.
      encryption_key: 1234567890abcdefghijklmnopqrstuvwxyz
    email:
      user:
        address: example@example.com
        name: Example Example
        username: username
        password: password
      server:
        authentication: plain
        hostname: smtp.example.com
        domain_name: example.com
        port: 25
    postgresql:
      password: password
    redis:
      password: password
