---

# -----------------------------------------------------------------------------
# System administrators, who are given full access (e.g. firewall).
# -----------------------------------------------------------------------------

administrators:
  - name: System Administrator
    ipv4: 127.0.0.1

# -----------------------------------------------------------------------------
# Global canvas settings.
# -----------------------------------------------------------------------------

canvas:
  admin_email: admin@example.com
  admin_name: Organization Name
  admin_password: password
  files_hostname: files.canvas.example.com
  hostname: canvas.example.com
  version: release/2014-04-12.20

# -----------------------------------------------------------------------------
# Map of environments. Values: `production`, `test`, and `development`
# -----------------------------------------------------------------------------

environments:
  # Environment specific settings for production.
  production:
    canvas:
      # High entropy random string of 32+ characters is strongly recommended.
      encryption_key: 1234567890abcdefghijklmnopqrstuvwxyz
      # Values: `local` or `s3`
      file_store: local
    email:
      user:
        address: example@example.com
        name: Example Example
        password: password
        username: username
      server:
        authentication: plain
        hostname: smtp.example.com
        domain_name: example.com
        port: 25
    # Some settings are predetermined (e.g. username is canvas).
    postgresql:
      password: password
    # Only needed if the canvas file_store value above is `s3`.
    s3:
      access_key_id: access_key
      bucket_name: production-bucket
      endpoint: s3.amazonaws.com
      secret_access_key: secret_key

    # TODO: Linkedin.

    # TODO: Twitter.
