*filter
:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]

# Loopback allows everything.
-A INPUT -i lo -j ACCEPT
-A FORWARD -i lo -j ACCEPT

# Ethernet allows established/related, but does not allow invalid.
-A INPUT -i eth+ -m state --state ESTABLISHED,RELATED -j ACCEPT
-A INPUT -i eth+ -m state --state INVALID -j DROP

# Ethernet allows ICMP echo.
-A INPUT -i eth+ -m state --state NEW -p icmp -m icmp --icmp-type 8 -j ACCEPT

# Ethernet allows TCP on port 22 (SSH).
-A INPUT -i eth+ -m state --state NEW -m tcp -p tcp --dport 22 -j ACCEPT

# Ethernet allows everything from administrators.
{% if administrators is not none %}
{% for a in administrators %}
-A INPUT -i eth+ -s {{ a['ipv4'] }} -j ACCEPT
-A FORWARD -i eth+ -s {{ a['ipv4'] }} -j ACCEPT
{% endfor %}
{% endif %}

# Ethernet allows everything from co-hosts.
{% for host in groups['all'] %}
-A INPUT -i eth+ -s {{ hostvars[host]['ansible_eth0']['ipv4']['address'] }} -j ACCEPT
-A FORWARD -i eth+ -s {{ hostvars[host]['ansible_eth0']['ipv4']['address'] }} -j ACCEPT
{% endfor %}

# Ethernet does not allow internal IPs.
-A INPUT -i eth+ -s 10.0.0.0/8 -j DROP
-A INPUT -i eth+ -s 172.16.0.0/12 -j DROP
-A INPUT -i eth+ -s 192.168.0.0/16 -j DROP
-A INPUT -i eth+ -s 224.0.0.0/4 -j DROP
-A INPUT -i eth+ -s 240.0.0.0/5 -j DROP
-A INPUT -i eth+ -s 127.0.0.0/8 -j DROP

{% if inventory_hostname in groups['proxy'] %}
# This host is a proxy, ethernet allows TCP on port 443 (HTTPS).
-A INPUT -i eth+ -m state --state NEW -m tcp -p tcp --dport 443 -j ACCEPT
{% endif %}

COMMIT
