-----BEGIN CERTIFICATE-----
MIICsjCCAZqgAwIBAgIJAPO6/f7eJo00MA0GCSqGSIb3DQEBCwUAMBExDzANBgNV
BAMTBnVidW50dTAeFw0xNDA1MDExNDU3MTRaFw0yNDA0MjgxNDU3MTRaMBExDzAN
BgNVBAMTBnVidW50dTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAJgW
p3H38GELm1Zc1hchmOgKjZ3OwvV3SbXhjstq3H0lVIaS9+YJ60kjtbuy8ZgGaNcr
lLS88uheXhkl7/X/HqMKZEZNG3uuFvfWM1Vlahv5To5kAwtx3jObDepieGZa7626
oaifWPfWDaIwzPvdn/SwS9848GTMyucA/h270NYLKZgd/iD8V5nHPZMedRFpk9k5
XsPaEofukn/0cTVPSopHTuVTRlIRDaTTHKNaR69gK4tP8u35kf/jt+CzBhNzcPWX
aMCd//Q2+ek8gNTcbX7zi2mQ8d8toewe7BLJIfRm2KulptCdHaUaCAcTTDIv94fa
W9YNxp+xcbcwQJWnyDkCAwEAAaMNMAswCQYDVR0TBAIwADANBgkqhkiG9w0BAQsF
AAOCAQEAVhbF/KIcHNqEioWL5jAUzehutmnzVeZc/MXsouXEOBiA45IqOwiMLQA0
wjP8akWU2xtzxNk/YXno1Fj8Oq7QM72u2wt58YAR7vUy+hve2zH/UpLFu3gJ+kj3
ToXMJy/5v6pCRVwFY3ixLNOug1jsF/14agYgP/1O5iuLUiAApX+4Bpbso753FthL
+Mz/hfoL6w77fGkePDrpOz5SEGolECSnOkrNBNmqD4HWCn1bi4BwRMDtxX7ajDIY
KSotfQVMU4aveSeB8uVMMe4E81fn3NL0aQe4MLzqqIVjmwyNyFGGaQHQxYaUd3my
iOyXShcBCwurKxegEPqMGMKz0LmAOg==
-----END CERTIFICATE-----
