{% for k, v in environments.items() %}
{{ k }}:
  domain: {{ environments[this_environment].canvas.hostname }}
{% if environments[this_environment].canvas.file_store == 'local' %}
  files_domain: {{ environments[this_environment].canvas.files_hostname }}
{% endif %}
  ssl: true
{% endfor %}
