{% for env in environments %}
  {{ env.name }}:
    adapter: postgresql
    encoding: utf8
    database: canvas_{{ env.name }}
    host: localhost # TODO: Detect and populate.
    username: {{ env.configuration.postgresql.username }}
    password: {{ env.configuration.postgresql.password }}
    timeout: 8000
    queue:
      adapter: postgresql
      encoding: utf8
      database: canvas_queue_{{ env.name }}
      host: # TODO: Detect and populate.
      username: {{ env.configuration.postgresql.username }}
      password: {{ env.configuration.postgresql.password }}
      timeout: 8000
{% endfor %}
