development:

test:
  directory:
    folder: "/tmp/maildir"

production:
  run_periodically: true
  pop3:
    server: "pop.example.com"
    port: 995
    ssl: true
    username: "user"
    password: "password"

multiple_inboxes:
  run_periodically: true
  imap:
    server: "imap.example.com"
    port: 993
    ssl: true
    filter: ALL
    accounts:
      - username: "user1@example.com"
        password: "pass1"

      - username: "user2@example.com"
        password: "pass2"

      - username: "user3@example.com"
        password: "pass3"
