development:
  session_store: encrypted_cookie_store
  expire_after: 86400

test:
  session_store: encrypted_cookie_store
  expire_after: 86400

production:
  session_store: encrypted_cookie_store
  expire_after: 86400
