#------------------------------------------------------------------------------
# FILE LOCATIONS
#------------------------------------------------------------------------------

data_directory = '/var/lib/postgresql/9.3/main'
hba_file = '/etc/postgresql/9.3/main/pg_hba.conf'
ident_file = '/etc/postgresql/9.3/main/pg_ident.conf'
external_pid_file = '/var/run/postgresql/9.3-main.pid'

#------------------------------------------------------------------------------
# CONNECTIONS AND AUTHENTICATION
#------------------------------------------------------------------------------

listen_addresses = '*'
port = 5432
{% if ((ansible_memtotal_mb / 1024)|round) >= 32 %}
max_connections = 512
{% elif ((ansible_memtotal_mb / 1024)|round) >= 16 %}
max_connections = 256
{% elif ((ansible_memtotal_mb / 1024)|round) >= 8 %}
max_connections = 128
{% else %}
max_connections = 64
{% endif %}
unix_socket_directories = '/var/run/postgresql'
ssl = true
ssl_cert_file = '/etc/ssl/certs/ssl-cert-snakeoil.pem'
ssl_key_file = '/etc/ssl/private/ssl-cert-snakeoil.key'
password_encryption = on

#------------------------------------------------------------------------------
# RESOURCE USAGE (except WAL)
#------------------------------------------------------------------------------

shared_buffers = {{ ( ansible_memtotal_mb / 4)|int }}MB
{% if ((ansible_memtotal_mb / 1024)|round) >= 32 %}
temp_buffers = 32MB
max_prepared_transactions = 256
work_mem = 16MB
maintenance_work_mem = 512MB
max_stack_depth = 6MB
{% elif ((ansible_memtotal_mb / 1024)|round) >= 16 %}
temp_buffers = 16MB
max_prepared_transactions = 128
work_mem = 12MB
maintenance_work_mem = 256MB
max_stack_depth = 4MB
{% elif ((ansible_memtotal_mb / 1024)|round) >= 8 %}
temp_buffers = 8MB
max_prepared_transactions = 64
work_mem = 8MB
maintenance_work_mem = 128MB
max_stack_depth = 2MB
{% else %}
temp_buffers = 8MB
max_prepared_transactions = 32
work_mem = 4MB
maintenance_work_mem = 32MB
max_stack_depth = 2MB
{% endif %}


#------------------------------------------------------------------------------
# WRITE AHEAD LOG AND REPLICATION
#------------------------------------------------------------------------------
{% if this_size == 'small' and inventory_hostname in groups['rdb_standby_master'] %}
wal_level = archive
archive_mode = on
archive_command = 'rsync -az -e "ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null" /var/lib/postgresql/9.3/main/%p {{ hostvars[groups['rdb_standby_slave'][0]].ansible_eth0.ipv4.address }}:/var/lib/postgresql/9.3/wal/%f'
archive_timeout = 60
{% endif %}

#------------------------------------------------------------------------------
# ERROR REPORTING AND LOGGING
#------------------------------------------------------------------------------

log_line_prefix = '%t '
log_timezone = 'UTC'

#------------------------------------------------------------------------------
# CLIENT CONNECTION DEFAULTS
#------------------------------------------------------------------------------

datestyle = 'iso, mdy'
timezone = 'UTC'
lc_messages = 'en_US.UTF-8'
lc_monetary = 'en_US.UTF-8'
lc_numeric = 'en_US.UTF-8'
lc_time = 'en_US.UTF-8'
default_text_search_config = 'pg_catalog.english'
