<VirtualHost *:8080>
  ServerName {{ environments[this_environment].canvas.hostname }}
  ServerAlias {{ environments[this_environment].canvas.files_hostname }}
  ServerAdmin {{ environments[this_environment].canvas.admin_email }}
  DocumentRoot /var/canvas/public
  ErrorLog /var/log/apache2/canvas_errors.log
  LogLevel warn
  CustomLog /var/log/apache2/canvas_access.log combined
  SetEnv RAILS_ENV production
  <Directory /var/canvas/public>
    Allow from all
    Options -MultiViews
  </Directory>
</VirtualHost>
